@import url("reset.css")

$grid-width: 100%
$total-columns: 12
$margin: 2%
$one-column: (100% - ($margin * ($total-columns - 1))) / $total-columns

@mixin grid($column-num)
  width: ($one-column*$column-num) + (($column-num) - 1) * $margin
  float: left
  box-sizing: border-box
  margin-right: $margin

  &:last-child
    margin-right: 0

.container
  display: block
  width: 70%
  margin: 0 auto

.wrapper
  width: 100%
  background-color: #ffffff

.row
  background-color: #ffffff
  overflow: hidden
  margin: 20px 0
  width: 100%

.col-1, .col-2, .col-3, .col-4, .col-6, .col-12
  background-color: #819CBC
  color: #ffffff
  height: 55px
  display: inline-block
  text-align: center
  padding-top: 15px
  box-sizing: border-box

.col-1
  @include grid(1)

.col-2
  @include grid(2)

.col-3
  @include grid(3)

.col-4
  @include grid(4)

.col-6
  @include grid(6)

.col-12
  @include grid(12)